/*

Theme Name: Designer Magazine Responsive Theme

Theme URI: http://www.dessign.net/designermagazinetheme

Description: Designer Magazine Responsive Theme for WordPress is stylish, customizable, simple, and readable. Perfect for any designer creative, illustrator or graphic designer. 

Version: 2.0

Author: Marios Lublinski

Author URI: http://www.dessign.net

Tags: 2 column theme, clean, portfolio

*/

/* =WordPress Core

-------------------------------------------------------------- */

.alignnone {

    margin: 5px 20px 20px 0;

}

.aligncenter,

div.aligncenter {

    display: block;

    margin: 5px auto 5px auto;

}

.alignright {

    float:right;

    margin: 5px 0 20px 20px;

}

.alignleft {

    float: left;

    margin: 5px 20px 20px 0;

}

.aligncenter {

    display: block;

    margin: 5px auto 5px auto;

}

a img.alignright {

    float: right;

    margin: 5px 0 20px 20px;

}

a img.alignnone {

    margin: 5px 20px 20px 0;

}

a img.alignleft {

    float: left;

    margin: 5px 20px 20px 0;

}

a img.aligncenter {

    display: block;

    margin-left: auto;

    margin-right: auto

}

.wp-caption {

    background: #fff;

    border: 1px solid #f0f0f0;

    max-width: 96%; /* Image does not overflow the content area */

    padding: 5px 3px 10px;

    text-align: center;

}

.wp-caption.alignnone {

    margin: 5px 20px 20px 0;

}

.wp-caption.alignleft {

    margin: 5px 20px 20px 0;

}

.wp-caption.alignright {

    margin: 5px 0 20px 20px;

}

.wp-caption img {

    border: 0 none;

    height: auto;

    margin: 0;

    max-width: 98.5%;

    padding: 0;

    width: auto;

}

.wp-caption p.wp-caption-text {

    margin: 0;

    padding: 0 4px 5px;

}

/* Global */

body, div { margin: 0; padding: 0; }

body { font: normal 15px "Open Sans", arial, sans-serif; color: #666; line-height: 21px;}

a { color: #060606; text-decoration: none; transition: background 0.3s ease 0s, color 0.3s ease 0s; }

a:hover { color: #29C7D8!important; }

::selection {

	background: #9089b0; 

	}

::-moz-selection {

	background: #9089b0; 

}

h1,h2,h3,h4,h5,p { margin: 10px 0; }

h1,h2,h3,h4,h5{
    font-family: 'Didact Gothic', sans-serif;
}

p{
    font-family: 'Lato', sans-serif;
}

img { border: none; }

.left { float: left; }

.right { float: right; }

.clear { clear: both; }

.container { width: 980px; margin: 0 auto; overflow: hidden;}

/* HTML5 tags */

header, section, footer,

aside, nav, article, figure {

	display: block;

}

/* Header */

.header_top { background-color: #fff; position: fixed; top: 0; left: 0; width: 100%; z-index: 100; }

.header_menu { float: left; }

.header_menu ul { list-style-type: none; margin: 0; padding: 0; float: right;}

.header_menu ul li { float: left; position: relative;margin-right: 45px;line-height: 30px; }

.header_menu ul li:last-child{margin-right: 0px;}

.header_menu ul li a { text-decoration: none;color: #060606; font-size: 1.2em; opacity: 1; font-family: 'Didact Gothic', sans-serif;}

.header_menu ul li.current_page_item a,

.header_menu ul li.current-menu-item a { text-decoration: none; color: #060606; font-size: 1.2em; opacity: 1; font-family: 'Didact Gothic', sans-serif; }

.header_menu ul li.current_page_item ul li a,

.header_menu ul li.current-menu-item ul li a { text-decoration: none; }

/*.header_menu ul li:first-child a { border-left: 1px solid #585B61; }*/

.header_menu ul li a:hover { color: #29C7D8!important; }

.header_menu ul li ul { position: absolute; top: 31px; left: 0; z-index: 50; display: none; }

.header_menu ul li ul li { float: none; width: 180px; }

.header_menu ul li ul li a { padding: 5px 10px; border-top: 1px solid #444; border-right: none; font-size: 13px; background-color: #242628; }

.header_menu ul li ul li a:hover { color: #29C7D8; background-color: #191B1C; }

.header_menu ul li ul li:first-child a { border-top: none; }

.header_social { float: right; padding-top: 4px; }

.header_social img { display: inline-block; margin-left: 5px; }

.logo_cont { padding: 57px 0 25px; }

.logo { float: left; }

/* Content */

#slideshow_cont { background-color: #F9F9F9; margin-bottom: 25px; padding: 90px 10px 10px 10px; }

#slideshow { position: relative; width: 980px; height: 350px; }

#slideshow .slide_box { width: 980px; height: 350px; position: absolute; top: 0; left: 0; display: none; }

#slideshow .slide_box_first { display: block; }

#slideshow img, #slideshow iframe { width: 980px; height: 350px; }

.slide_thumbs_cont { padding: 15px 0px 0px 0px; display: none; /*custom*/}

.slide_thumbs_cont img { margin-left: 16px; display: inline-block; cursor: pointer; width: 183px; height: 90px; }

.slide_thumbs_cont img:first-child { margin-left: 0; }

#cont_left { float: left; /*width: 650px;*/width: 70%; padding-top: 50px; }

#cont_left img {float: left; }

.post_box { margin-bottom: 20px; position: relative; }

.post_box h3 { margin-top: 0; text-align: center;}

.post_box h3 a { text-decoration: none; padding: 2px 0px;; font-size: 20px; font-family: 'Lato'; font-weight: 700; line-height: 30px; color:#060606; }

/*.post_box h3 a:hover { background-color: #222; color: #fff; }*/

.post_box p{font-weight: 300; font-size: 16px;}

.post_meta_left, .post_meta_right a{ font-family: 'Didact Gothic'; font-weight: bolder; font-size: 15px; text-transform: lowercase;}

.post_box .left { /*width: 320px;*/ width: 300px; }

.post_box .left img { display: block; /*max-width: 350px; max-height: 240px;*/ max-width: 100%; height: auto; margin: 0 auto; float: none !important; }

.post_box .left iframe { width: 420px; height: 240px; }

.post_box .right { /*width: 280px;*/ width: 50%; height: 250px;}

.post_meta { border-bottom: 1px dotted #ccc;  padding: 1px 6px; font-size: 11px; color: #333; width: 200px; width: 100%; }

.post_meta_left { float: left; }

.post_meta_right { float: right; }

.post_meta_right a { color: #060606; text-decoration: none; }

.post_meta_right a:hover { text-decoration: none; color: #060606; }

#commentform input[type=submit] { background-color: #060606; color: #fff; border: 1px solid #6E6E6E; padding: 3px 5px; font-weight: 600; cursor: pointer; width: 422px;}

.archive_title { padding: 3px 1px; border-bottom: 1px solid #ccc; border-top: 2px solid #444;  margin-bottom: 20px; text-transform: uppercase; font-size: 16px; font-family: 'Source Sans Pro', sans-serif; font-weight: 300; }

.next_prev_cont { padding: 25px 0; }

.next_prev_cont .left { float: left; width: 45%; }

.next_prev_cont .left i, .next_prev_cont .right i{font-weight: 600; font-family: 'Lato', sans-serif;}

.next_prev_cont .left a { display: block; background: url('images/post_prev.png') no-repeat; background-position: center left; padding-left: 25px; min-height: 30px; font-weight: 500;font-family: 'Didact Gothic', sans-serif;}

.next_prev_cont .right { float: right; width: 45%; text-align: right; }

.next_prev_cont .right a { display: block; background: url('images/post_next.png') no-repeat; background-position: center right; padding-right: 25px;  min-height: 30px; font-family: 'Didact Gothic', sans-serif;}

h1.single_title { margin-top: 0; font-size: 24px; font-family: 'Source Sans Pro', sans-serif; font-weight: 300;}

.you_may_like { background-color: #fff; color: #060606; padding: 1px 10px; font-size: 14px; margin-top: 40px; margin-bottom: 15px;text-align: center;font-size: 35px; font-family: 'Didact Gothic', sans-serif; font-weight: 700;}

.may_like_box { float: left; margin-right: 17px; width: 205px; }

.may_like_box_last{ margin-right: 0; }

.may_like_box img,

.may_like_box iframe { width: 205px; max-height: 120px; height: auto; margin-bottom: 15px; }

.may_like_box h3 {text-align: center; padding: 0 5px;}

.may_like_box h3 a{
    font-size: 14px;
    font-weight: 700;
    font-family: 'Lato', sans-serif;
    text-transform: lowercase;
}

.may_like_box h3 a:hover { text-decoration: none; background-color: transparent; color: #060606; }

/* Sidebar */

#sidebar { /*width: 270px;*/ width: 25%; float: right; }

.side_box { margin-bottom: 20px; text-align: left;}

.side_box p { padding: 0 10px; }

h3.side_title {  padding: 3px 3px; color: #060606; font-size: 18px; margin: 0 0 0px; font-weight: 400; letter-spacing: 1px; }

.side_box ul { list-style-type: none; margin: 0; padding: 0; }

.side_box ul li{margin-bottom: -3px;}

.side_box ul li a { padding: 2px 3px; display: block; font-family: 'Lato'; font-weight: 300; font-size: 13px; text-transform: lowercase;}

.side_box ul li a:hover { text-decoration: underline;  color: #222; }

.t1_search_cont input[type=text], .t1_search_cont input[type=submit] { box-sizing: border-box;

    -moz-box-sizing: border-box;

    -webkit-box-sizing: border-box; height: 24px; font-family: 'Source Sans Pro', sans-serif, arial; }

.t1_search_cont input[type=text] { width: 185px; }

.t1_search_cont input[type=submit] { border: none; background-color: #252628; color: #90939C; width: 80px; }

.side_box #s{
    height:30px;
}

.side_box #searchsubmit{
    background: #060606;
    border: 1px solid #111;
    padding: 5px 10px;
    font-family: 'Lato', sans-serif;
    color: #fff;
    cursor: pointer;
    margin-top: 5px;
}

/* Footer */

#footer { padding: 10px 0; text-align: right; margin-top: 25px; }

/*Custom*/

.logo a img{
    width: 250px;
    height: auto;
}

#main_cont h1{
    font-weight: 700;
    font-size: 70px;
}

.screen-reader-text{
    color: #060606;
    font-family: 'Lato', sans-serif; 
    display: none;
}
.side_box #s{
    border: 1px solid #060606;
    font-family: 'Lato', sans-serif;
    width: 60%;
}
#respond input, #respond textarea{
    border: 1px solid #060606;
    font-family: 'Lato', sans-serif; !important;
    min-height: 30px;
    min-width: 50%;
}
.mrg{
    padding-top: 40px
}

.border.down{
        margin-bottom: 30px;
}
.cont-single h1{
    font-size: 25px !important;
    line-height: 35px;
}
.cont-single #sidebar{
    padding-top: 175px !important;
}
.cont-single .single_inside_content p img{
    display: block;
    margin: 0 auto;
    float: none !important;
}
.cont-single .single_inside_content h3{
    font-size: 20px;
    text-align: center;
}
.single_inside_content p{
    font-size: 15px;
    font-weight: 300;
    line-height: 21px;
    margin: 20px 0;
}
.single_inside_content strong{
    font-weight: 600;
}

footer .content{
    padding-top: 15px;
}
.copyright img{
    height: 25px;
    position: relative;
    top: 8px;
}